<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mt-5"><%= t("dash.error.page_not_found.title") %></h2>
      <p><%= t("dash.error.page_not_found.summary") %></p>
    </div>
  </div>
</div>