<p id="robot-text"><%= t("error.server_error.title") %></p>
<p><%= t("error.server_error.summary") %></p>
<p class="robot-links"><%= t("error.server_error.urgent_help_html", site: dashboard_support_url) %></p>