<%= content_tag_for(:div, asset, class: "asset-image") do %>
  <%= link_to "#", class: "chooser-file-insert icon-link", data: asset.chooser_data do  %>
    <div class="img-choose">
      <%= image_tag(asset.media.url(:small), class: "img-responsive") %>
    </div>
  <% end %>
<% end %>