<%= render "/dash/chooser/nav", menu: :documents %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= dash_table @assets, table_headers: [[:name, Asset.human_attribute_name(:name)], [:created_at, Asset.human_attribute_name(:created_at)]], partial: "/dash/chooser/document_asset", as: :asset do %>
        <%= link_to t("dash.chooser.documents.upload_document"), chooser_path(:upload_document), class: "btn btn-primary", data: {turbolinks: false} %>
      <% end %>
    </div>
  </div>
</div>