<%= render "/dash/chooser/nav", menu: :upload_document %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= s3_uploader_form callback_url: complete_upload_document_dashboard_site_chooser_index_path(@site) do %>
        <div id="dropzone">
          <h1>Drop file here</h1>
          <p>or</p>
          <span class="btn btn-primary fileinput-button">
            <i class="fa fa-plus fa fa-white"></i> <span>Select Files</span>
            <input type="file" name="files[]" multiple>
          </span>
        </div>
      <% end %>
      <p>Maximum upload file size: <%= number_to_human_size Dash.document_upload_max_size %></p>
      <div id="upload-list">
      </div>
    </div>
  </div>
</div>