// Dropzone for uploader
#dropzone{
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
// Image list view
#asset-image-list{
  margin: 2rem 0;
  @include media-breakpoint-up(xs) {
    column-count: 2;
  }
  @include media-breakpoint-up(sm) {
    column-count: 3;
  }
  @include media-breakpoint-up(xl) {
    column-count: 5;
  }
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;

  img{
    width: 100%;
  }
  .asset-image{
    margin-bottom: 1rem;
  }
}
// #asset-image-list{
//   display: flex;
//   flex-direction: row;
//   justify-content: left;
//   flex-wrap: wrap;
//   background: $white;
//   padding: 2rem 0;
//   border: 1px solid $gray-200;
//   .asset-image{
//     padding: 0 1rem 2rem 1rem;
//   }
// }
// File Uploader list
#upload-list{
  .upload-item, .uploaded-item{
    border-bottom: 1px solid $gray-300;
    padding: 0.5rem 0;
  }
  .upload-item, .uploaded-item .preview{
    display: flex;
    justify-content: space-around;
    .title{
      flex: 2;
    }
    .status, .actions{
      flex: 1;
      text-align: right;
    }
  }
  .uploaded-item{
    .preview-img{
      margin-right: 1rem;
    }
  }
}

// Stock Image Collections
.colnav-wrapper{
  height: 40px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}
.colnav-scroller{
  height: calc(100% + 15px);
  box-sizing: content-box;
  display: -webkit-box;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.colnav-item{
  flex-basis: 120px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 250px;
  padding-left: 4px;
  padding-right: 4px;
}
.colnav-img {
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  width: 100%;
}
.colnav-img a{
  margin: 0;
  text-shadow: 0 0 8px rgba(0,0,0,.3);
  text-transform: capitalize;
  display: block;
  background-color: rgba(55,35,35,.3);
  transition: background-color .15s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.colnav-img a:hover{
  background-color: rgba(55,35,35,.45);
}