// Nav Pills
ul.nav-pills{
  .nav-link{
    color: rgba($black, 0.6);
    display: inline-block;
    padding: 0.5rem 1rem;
    background: none;
    border-radius: 0;
  }
  .nav-link.active, .nav-link:hover{
    background: none;
    color: $text-color;
    border-bottom: 2px solid theme-color("primary");
  }
}

// Nav tabs
ul.nav-tabs{
  background: $white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  li{
    display: inline-block;
    margin-bottom: -1px;
  }
  a{
    color: rgba($black, 0.6);
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  a.active, a:hover{
    color: $text-color;
    border-bottom: 2px solid theme-color("primary");
  }
}

ul.nav-tabs.nav-tabs-simple{
  background: none;
  border-bottom: 2px solid $gray-400;
  li{
    margin-bottom: -2px;
  }
}
// Page Banner with nav tab
.page-banner{
  background-color: $white;
  margin: 1rem 0;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid $gray-200;
  .nav-tabs{
    margin-top: 1rem;
  }
  .body{
    display: flex;
    .avatar{
      margin-right: 1rem;
    }
    .content{
      p{
        margin-bottom: 0;
      }
    }
    .actions{
      flex: 1 1 auto;
      text-align: right;
    }
  }
}