.facebook-bg{
  background-color: $facebook-color;
  color: $white;
}
.facebook-color{
  color: $facebook-color;
}
.twitter-bg{
  background-color: $twitter-color;
  color: $white;
}
.twitter-color{
  color: $twitter-color;
}
.youtube-bg{
  background-color: $youtube-color;
  color: $white;
}
.youtube-color{
  color: $youtube-color;
}
.instagram-bg{
  background-color: $instagram-color;
  color: $white;
}
.instagram-color{
  color: $instagram-color;
}
.website-bg{
  background-color: $website-color;
  color: $white;
}
.website-color{
  color: $website-color;
}