// Colors
$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $blue,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
) !default;

// Body
$body-bg:              #f6f6f6;

// Headings
$headings-font-family: 'Open Sans', sans-serif;

// Text
$text-color:            $gray-900;

// Links
$link-color:            $gray-900;
$link-color-primary:    theme-color('primary');
$link-decoration:       none;
$link-hover-color:      theme-color('primary');
$link-hover-decoration: underline;

// Defaults
$box-shadow-color:      $gray-600;

// Nav
$nav-bg-color:          #0f9d58;
$nav-box-shadow-color:  $box-shadow-color;
$nav-brand-color:       $white;


// Social colors
$facebook-color:            #3b5998;
$twitter-color:             #1DA1F2;
$google-plus-color:         #DB4437;
$pinterest-color:           #BD081C;
$snapchat-color:            #FFFC00;
$instagram-color:           #262626;
$facebook-messenger-color:  #0084FF;
$linkedin-color:            #0077B5;
$youtube-color:             #CC181E;
$website-color:             #00BF8F;
