<nav class="navbar navbar-simple">
  <%= link_to "Simple Church", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to t("sessions.sign_in"), signin_path, class: "btn btn-transparent" %>
    </li>
  </ul>
</nav>