<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-4"><%= t("legal.privacy") %></h2>
      <p>We know that privacy is important to you. This privacy policy reflects our respect for your privacy rights. This policy describes how we will deal with personally identifiable information that we collect or hold.</p>

      <h4>What is personal information?</h4>
      <p>When we talk about personal information, we mean information or an opinion about an individual where you can tell or reasonably work out who the information or opinion is about.</p>

      <h4>Collection</h4>
      <p>We will only collect personal information about you that is relevant to our organisation. This may include general information such as your name, e-mail address, contact details and computers IP address.</p>
      <p>You can generally visit our website without revealing who you are or other personal information. Where reasonably possible, personal information is only collected when you knowingly provide it. For example, we may need to collect such information to provide you with information or a service you have requested.</p>
      <p>Our purpose for collecting personal information should be clear when we collect it. If you are uncertain, please contact us at the address below.</p>
      <p>We may use technology to keep track of which sections of our website you visit for internal purposes, including to help us improve our website and other services.</p>

      <h4>Use and disclosure</h4>
      <p>We will only use your personal information as allowed by law. This means we may use it for the purpose it was collected, as disclosed to you at the time of collection, or as otherwise set out in this policy. If we want to use your information for any other purpose, we will first seek your consent unless we are not required to by law.</p>
      <p>We generally only use or disclose your personal information to:</p>
      <ol type="1">
        <li>help us to improve our website and services;</li>
        <li>supply you with goods, services or information you have requested;</li>
        <li>tell you about any new developments , offers or events we think may interest you;</li>
        <li>other organisations that provide services to us, such as telecommunications companies, event organisers, IT contractors (such as website developers and hosts), lawyers, accountants, financiers and promotions companies; and</li>
        <li>meet any legal requirements.</li>
      </ol>
      <p>Any information posted on bulletin boards or communicated in chat areas becomes public information. While we strive to protect and respect your privacy, we cannot guarantee the security of any information you disclose in a chat room or bulletin board and you take full responsibility for the disclosure of such material.</p>

      <h4>Access to personal information</h4>
      <p>Please contact us if you would like to access personal information we hold about you. We will give you access unless we are allowed or required by law to refuse it. We may ask you to pay our reasonable costs of providing access.</p>
      <p>If you believe personal information we hold about you is inaccurate or incomplete, please advise us. We will generally take reasonable steps to correct your personal information where inaccuracies are identified.</p>
      <p>In certain circumstances, we may refuse to give access to your personal information or amend it. Usually we will explain why and, in the case of an amendment, make a note that you have disputed the accuracy or completeness of particular information.</p>

      <h4>Third party applications/websites</h4>
      <p>We may permit you to link to other applications or websites. Such third party applications/websites are not under our control, and such links do not constitute an endorsement by Adventist Media of those other applications/websites or the services offered through them. The privacy and security practices of such third party application/websites linked to Adventist Church are not covered by this Privacy Statement, and Adventist Media is not responsible for the privacy or security practices or the content of such websites.</p>

      <h4>Security and integrity</h4>
      <p>We cannot guarantee the security of information you may transmit to us. We will take reasonable steps to keep your personal information secure, accurate, complete and up to date. If we no longer require your personal information, we will take reasonable steps to destroy or de-identify it. We do not take responsibility for the security of information that is outside our control such as when it is sent by post, courier, facsimile or over the Internet.</p>

      <h4>Changes to this policy</h4>
      <p>To keep up with regulatory, technical and organisational change, we may amend this policy from time to time by publishing the updated policy on our website. Please visit our website regularly to keep up to date with any changes.</p>

      <h4>Contacting us</h4>
      <p>For further information, problems or complaints regarding our information handling practices, please contact us.</p>
      <ul>
        <li>Phone: +61 2 9847 2222</li>
        <li>Email: info@adventistmedia.org.au</li>
        <li>Write: Adventist Media, 150 Fox Valley Road, Wahroonga NSW 2076, Australia</li>
      </ul>
    </div>
  </div>
</div>