<% page t(".page_title"), nav: :account, nav_active: :subscriptions %>
<div class="page-header">
  <div class="content">
    <h3><%= t(".page_title") %></h3>
  </div>
</div>

<%= dash_table @subscription_notifications, table_headers: [[:name, SubscriptionNotification.human_attribute_name(:name)]], partial: "/account/subscriptions/subscription_notification", paginate: false, table_overview: false %>